{% extends 'base.html.twig' %}
{% block title category.nom %}
{% block body %}
    <div class="cat-info">
        <h1>{{ category.nom}}</h1>
        <p>{{ category.description|nl2br }} </p>
    </div>
    <div class="grid-gallery">
        {% for p in peintures %}
            <a href="{{ vich_uploader_asset(p, 'imageFile') |imagine_filter('miniature') }}" class="grid-item" data-lightbox="gridImage" data-title="{{p.nom}}">
                <img src="{{ vich_uploader_asset(p, 'imageFile') |imagine_filter('miniature') }}" alt="" >
            </a>
        {% endfor %}
    </div>
    
{% endblock %}