{% extends 'base.html.twig' %}

{% block title 'Actualités' %}

{% block body %}
    <div class="mini-header">
        <header>Dernières Actualités</header>
    </div>
    <section class="mini-container">
        <div class="home-content">
            <div id="actu">
                <div class="actu-content">
                    {% for b in blogposts %}
                        <div class="actu-item">
                            <a href="{{ path('actualites.show', {slug: b.slug, id: b.id}) }}">
                                <h1>{{ b.titre }} </h1>
                                <p>{{ b.contenu|u.truncate(70, '...') }} </p>
                                <span id="date-actu">publier le {{ b.formatedCreatedAt }} </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="pagination">
                {# on lui passe en param l'objet qui es paginable #}
                {{ knp_pagination_render(blogposts, 'base/_pagination.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}

