{% extends 'base.html.twig' %}

{% block title post.titre %}  

{% block body %}
    {% for message in app.flashes('success') %}
        <div id="success">
            <p>{{message}}</p>
        </div>
    {% endfor %}
    <section class="post-container">
        <div class="post-content">
            <header>{{post.titre}}</header>
            <p>{{post.contenu}} </p>
            <div class="date">
                <p>publier le {{post.formatedCreatedAt}} </p>
            </div>
        </div>
    </section>
    <section id="comment">
        {{ include('commentaires/_form.html.twig', {form: form})  }}
        {{ include('commentaires/commentaires.html.twig', {commentaires: commentaires})  }}
    </section>
{% endblock %}